body{
    
    display: flex;
    
    height: 100vh;
    background-color: #f0f0f0;
    font-family: monteserrat Arial, sans-serif;}
.label{
    
    margin-bottom: 15px;
}
.last{
    
    margin: 0 auto;
}
input{
    
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-left: 90px;
    margin-top: 20px;
    
    cursor: pointer;
    font-size: 15px;
}
